{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "at-rule-no-unknown": null,
    "font-family-name-quotes": "always-unless-keyword",
    "scss/at-rule-no-unknown": true,
    "scss/dollar-variable-empty-line-before": null,
    "selector-class-pattern": "[a-z0-9]+(?:[-_]{1,2}[a-z0-9]+)*"
  },
  "plugins": [
    "stylelint-scss"
  ]
}
