@import "../_variables.scss";

.community-first {
    background: linear-gradient(108.53deg, #01c2ff 11.38%, #8c1aff 86.52%);
    display: inline-block;

    .content-wrapper {
        max-width: 700px;
        margin: 100px auto;
        position: relative;
        left: 0;

        @include for-tablet-landscape-up {
            left: 10%;
        }
    }

    .heading--secondary {
        margin: 0 0 30px 0;
        color: $color-white;
    }

    p {
        color: $color-white;
    }
}

.call-to-action {
    max-width: 700px;
    margin: 100px auto 0 auto;
    position: relative;

    p {
        margin-bottom: 20px;
    }
}
