.row.hero {
    background-image: url("/assets/img/hero-bg.svg"), $color-gradient-alternate;
    background-repeat: no-repeat;
    background-size: cover;

    .large-brand-mark {
        width: 100%;
        position: absolute;
    }

    .hero__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 80px 0;
    }

    .heading--primary {
        color: $color-white;
        margin-bottom: 20px;
    }

    .heading--tertiary {
        color: $color-white;
        margin-bottom: 5px;
    }
}
