.row.hero {
    background-image: url("/assets/img/hero-bg.svg"), $color-gradient-alternate;
    background-repeat: no-repeat;
    background-size: cover;

    .large-brand-mark {
        width: 100%;
    }

    .heading--primary {
        color: $color-white;
    }

    p {
        color: $color-white;
    }
}
