@use "../colors";
@use "../responsive";

.mailing-list {
	width: 100%;
	padding: 20px;
	padding-bottom: 100px;
	padding-top: 100px;
	background: colors.$color-light-blue;

	h4 {
		margin-bottom: 20px;
		color: colors.$color-white;
	}

	.list--container {
		display: block;
		margin: 0px auto;
		max-width: 700px;
		text-align: left;
		position: relative;

		div {
			.js-form button, .js-error  {
    			margin-top: 20px;
			}

			.js-error, .js-form-response {
    			color: colors.$color-warning;
			}

			.js-form {
				.js-email-input {
					max-width: 400px;
				}
			}

		}

		img {
			@include responsive.for-phone-only {
				display: none;
			}

			position: absolute;
			right: 0;
			top: 0;
			width: 25%;
		}
	}
}
