.what-is-codidact {
    max-width: 700px;
    margin: 30px auto 150px auto;
    position: relative;
    left: 0;

    @include for-tablet-landscape-up {
        left: -10%;
    }

    .heading--secondary {
        color: $color-blue;
        margin: 0 0 30px 0;
    }
}
