@use "../colors";
@use "../responsive";

.what-is-codidact {
    margin: 50px auto 80px auto;
    display: flex;
    justify-content: center;

    @include responsive.for-tablet-landscape-up {
        left: -10%;
    }

    @include responsive.for-phone-only {
        margin-top: 0;
    }

    div {
        height: fit-content;
        max-width: 500px;

        .heading--secondary {
            color: colors.$color-blue;
            margin: 0 0 30px 0;
        }
    }

    img {
        width: 40%;
        
        @include responsive.for-image-adjustments {
            display: none;
        }
    }
}
