$color-black: #2b2b2b;
$color-white: white;
$color-yellow: #ffc601;
$color-orange: #ff782f;
$color-blue: #575aff;
$color-gradient-alternate: linear-gradient(247.06deg, $color-yellow 16.55%, $color-orange 90.3%);
