/* latin-ext */
@font-face {
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-Italic.ttf");
  }
  
  /* latin */
  @font-face {
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-Italic.ttf");
  }
  
  /* latin-ext */
  @font-face {
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-MediumItalic.ttf");
  }
  
  /* latin */
  @font-face {
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-MediumItalic.ttf");
  }
  
  /* latin-ext */
  @font-face {
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-BoldItalic.ttf");
  }
  
  /* latin */
  @font-face {
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-BoldItalic.ttf");
  }
  
  /* latin-ext */
  @font-face {
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 900;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-BlackItalic.ttf");
  }
  
  /* latin */
  @font-face {
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 900;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-BlackItalic.ttf");
  }
  
  /* latin-ext */
  @font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-Regular.ttf");
  }
  
  /* latin */
  @font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-Regular.ttf");
  }
  
  /* latin-ext */
  @font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-Medium.ttf");
  }
  
  /* latin */
  @font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-Medium.ttf");
  }
  
  /* latin-ext */
  @font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-Bold.ttf");
  }
  
  /* latin */
  @font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-Bold.ttf");
  }
  
  /* latin-ext */
  @font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-Black.ttf");
  }
  
  /* latin */
  @font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-Black.ttf");
  }
  