$primary-font: "Red Hat Display", sans-serif;

$has-normal-font-size: 18px; // this is defined as the root unit on the html element
$has-small-font-size: 0.8rem;
$has-medium-font-size: 1.4rem;
$has-large-font-size: 3rem;
$has-x-large-font-size: 7rem;

$has-regular-weight: 400;
$has-bold-weight: 700;
$has-black-weight: 900;

.heading {
    &--primary {
        font-size: $has-x-large-font-size;
        font-weight: $has-black-weight;
    }

    &--secondary {
        font-size: $has-large-font-size;
        font-weight: $has-black-weight;
    }

    &--tertiary {
        font-size: $has-medium-font-size;
        font-weight: $has-regular-weight;
    }
}

p {
    font-size: $has-normal-font-size;
    font-weight: $has-regular-weight;
}
