.content-wrapper {
    max-width: calc(#{$max-body-width} + #{$gutter} * 2);
    width: 100%;
    margin: 0 auto;
    padding: 0 $gutter;
}

.row {
    max-width: calc(#{$max-body-width} + #{$gutter} * 2);
    width: 100%;
    margin: 0 auto;
}

.is-full-width {
    max-width: 100%;
}
