@use "responsive";
@use "variables";

.content-wrapper {
    max-width: calc(#{variables.$max-body-width} + #{variables.$gutter} * 2);
    width: 100%;
    margin: 0 auto;
    padding: 0 variables.$gutter;
}

.row {
    max-width: calc(#{variables.$max-body-width} + #{variables.$gutter} * 2);
    width: 100%;
    margin: 0 auto;
}

.is-full-width {
    max-width: 100%;
}

@for $i from 1 through variables.$max-column-count {
    .has-#{$i}-columns {
        display: grid;
        flex-direction: column;
        grid-gap: variables.$column-gutter;

        @include responsive.for-tablet-landscape-up {
            grid-template-columns: repeat(#{$i}, 1fr);
        }
    }

    .spans-#{$i}-columns {
        grid-column: auto / span #{$i};
    }
}
