@import "normalize.scss";
@import "variables.scss";

* {
    box-sizing: border-box;
}

html {
    font-family: $primary-font;
    font-size: $has-normal-font-size;
}

div,
header,
section {
    font-size: 0;
}

.content-wrapper {
    max-width: calc(#{$max-body-width} + #{$gutter} * 2);
    width: 100%;
    margin: 0 auto;
    padding: 0 $gutter;
}

.row {
    max-width: calc(#{$max-body-width} + #{$gutter} * 2);
    width: 100%;
    margin: 0 auto;
}

.is-full-width {
    max-width: 100%;
}

.footer {
    background-color: $color-black;
}
