@import "normalize.scss";

:root {
    --color-black: #2b2b2b;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Red Hat Display", sans-serif;
    font-size: 18px;
}

div,
header,
section {
    font-size: 0;
}

.content-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.row.is-full-width {
    max-width: 100%;
}

.footer {
    background-color: var(--color-black);
}
