@use "responsive";
@use "text";

.heading {
    &--primary {
        font-size: text.$has-large-font-size;
        font-weight: text.$has-black-weight;
        letter-spacing: 1.2px;
        line-height: 1;
        margin: 0;
        padding: 0;

        @include responsive.for-tablet-landscape-up {
            font-size: text.$has-x-large-font-size--mobile;
            letter-spacing: 1.2px;
        }

        @include responsive.for-desktop-up {
            font-size: text.$has-x-large-font-size;
            font-weight: text.$has-black-weight;
            letter-spacing: 2px;
        }
    }

    &--secondary {
        font-size: text.$has-large-font-size;
        font-weight: text.$has-regular-weight;
        margin: 0;
        padding: 0;
    }

    &--tertiary {
        font-size: text.$has-medium-font-size;
        font-weight: text.$has-regular-weight;
        margin: 0;
        padding: 0;
    }
}

p {
    font-size: text.$has-normal-font-size;
    font-weight: text.$has-regular-weight;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    letter-spacing: 1px;
}

strong {
    font-weight: text.$has-bold-weight;
}
